<h1>Distribution Centers</h1>

<% @distribution_centers.each do |distribution_center| %>
<h3><a href="/distribution_centers/<%= distribution_center.id %>"> <%= distribution_center.name %></a></h3>
<% end %>

<a href="/distribution_centers/new">New Distribution Center</a>

<p>
Only return records with more than
<%= form_tag '/distribution_centers/trucks' do %>
  <%= text_field_tag :truck_filter %>
<%= submit_tag 'Submit' %>
<% end %>
Trucks Deployed
</p>