<h1><%= @distribution_center.name %></h1>

<p> <%= "ID: #{@distribution_center.id}" %></p>
<p> <%= "Created: #{@distribution_center.created_at}" %></p>
<p> <%= "Updated: #{@distribution_center.updated_at}" %></p>
<p> <%= "Trucks Deployed: #{@distribution_center.trucks_deployed}" %></p>

<%= link_to "Update Distribution Center", "/distribution_centers/#{@distribution_center.id}/edit" %>

<%= button_to "Delete Distribution Center", "/distribution_centers/#{@distribution_center.id}", method: :delete %>