<h1><%= @candy.name %></h1>
<p>Quantity: <%= @candy.quantity %></p>
<p>In Stock: <%= @candy.in_stock %></p>
<p>Candy Id: <%= @candy.id %></p>

<%= link_to 'Update Candy', "/candies/#{params[:id]}/edit" %>
