<h1>Stores</h1>

<% @stores.each do |store| %>
  <h2><%= store.name %></h2>
  <p>Shipments Received: <%= store.shipments_received %></p>
  <p>DC ID: <%= store.distribution_center_id %></p>
  <p>Open: <%= store.open %></p>
<% end %>


<p> Number of Stores: <%= @stores.count %> </p>

<%= link_to "Create Store", "/distribution_centers/#{params[:id]}/stores/new" %>