<h1>New Store</h1>

<%= form_tag "/distribution_centers/#{params[:id]}/stores" do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
  <br>
  <br>
  <%= label_tag :shipments_received %>
  <%= text_field_tag :shipments_received %>
  <br>
  <br>
  <p> <%= label_tag  :open %> Y/N </p>
  <%= text_field_tag :open %>
  <br>
  <br>
  <%= submit_tag 'Create Store' %>
<% end %>

